
/***************************************HEADER*************************************************/
/*Menu*/
.navbar-inverse{
    background-image: none !important;
    background-color: #f3f1f1 !important;
    border-color: #dedede !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #7f7777 !important;
}

/*Hover sur les éléments du menu*/
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #020202 !important;
}

/***************************************BLOC CENTRAL*************************************************/
/*Classe de notre bloc central*/
.starter-template {
  padding: 65px 15px;
}

/*Message d'erreur*/
.field-validation-error {		
    color: #e80c4d;		
    font-weight: bold;		
 }

/*Gestion de la taille et de la hauteur de la MAP*/
#map, #mapid { 
   width: 600px; 
   height: 400px;
}

/***************************************FOOTER*************************************************/
/*Design du footer*/
footer{
    position: fixed;
    bottom: 0;
    background-color: #f3f1f1;
    border-color: #dedede;
    color: #020202;
    width: 100%;
}
.footer-content {
    margin-left: 10px;
}
.footer-content p{
    margin: 10px !important;
}

footer a{
    color: #7f7777 !important;
}
footer a:hover {
    color: #020202 !important;
}