
/***************************************HEADER*************************************************/
/*Menu*/
.navbar-inverse{
    background-image: none !important;
    background-color: #00582c !important;
    border-color: #09751b !important;
}

/***************************************BLOC CENTRAL*************************************************/
/*Classe de notre bloc central*/
.starter-template {
  padding: 65px 15px;
}

/*Message d'erreur*/
.field-validation-error {		
    color: #e80c4d;		
    font-weight: bold;		
 }

/*Gestion de la taille et de la hauteur de la MAP*/
#map, #mapid { 
   width: 600px; 
   height: 400px;
}

/***************************************FOOTER*************************************************/
/*Design du footer*/
footer{
    position: fixed;
    bottom: 0;
    background-color: #00582c;
    border-color: #09751b;
    color: #fff;
    width: 100%;
}
.footer-content {
    margin-left: 58px;
}
.footer-content p{
    margin: 10px !important;
}

footer a:hover {
    color: #46d8e0 !important;
}