@{
    ViewBag.Title = "Page d'accueil";
}

@section css{
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />-->
}
Bienvenue sur le site du marathon

<div id="map"></div>
<div id="mapid"></div>


@section scripts{
    <!-- <script type="text/javascript">
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 47.21806, lng: -1.55278},
            zoom: 8
          });
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmQ54LQucf9hRGkuQ1kGJM9EIFMr5vtT8&callback=initMap">
    </script>

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script>

        var map = L.map('mapid').setView([51.505, -0.09], 13);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([51.5, -0.09]).addTo(map)
            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
            .openPopup();

    </script> -->
}