@{
    ViewBag.Title = "Page d'accueil";
}

<div class="title-container">
    <div class="logo"></div>
    <h2 id="titre">Bienvenue sur le site Websport!</h2>
</div>

<div class="bloc-centrale-accueil">
    <p>
        Bonjour amis coureurs et sprinteurs!
    </p>
    <p>

          Si vous voulez dénichez les meilleurs évènements concernant la course à pieds, des évènements de type marathon ou triathlon,
          vous êtes tombé sur le bon site!
    </p>
    <p>
          Naviguez tranquilement et aisément sur notre site, renseignez vous sur tous nos évènements à venir. 
          Inscrivez vous sans plus tardé à notre site pour pouvoir participer aux évènements!
          Dépéchez-vous! L'inscription au site est gratuite!
     </p>
    <p>
          Un doute, une question? Allez dans la rubrique "Contact" pour nous adresser un petit message
          auquel nous nous efforcerons de répondre rapidement.
    </p>
    <p>

          Bonne visite!
    </p>
    <p>
        L'équipe Websport
    </p>
</div>

<img class="img-coureurs" src="~/Images/Course.png" />




