@{
    ViewBag.Title = "Page d'accueil";
}

<div class="title-container">
    <div class="logo"></div>
    <h2 id="titre">Bienvenue sur le site Websport!</h2>
</div>

<div class="bloc-centrale-accueil">
    <p>
        Bonjour amis coureurs et sprinteurs!
    </p>
    <p>

          Si vous voulez dénichez les meilleurs évènements concernant la course à pieds, des évènements de type marathon ou triathlon,
          vous êtes tombé sur le bon site!
    </p>
    <img src="~/Images/Course.png" />
    <p>
          Naviguez tranquilement et aisément sur notre site à travers notre menu siué tout en haut, 
          où vous trouverez un onglet vous amenant sur tous nos évènements à venir. 
          Glissez votre souris vers la doite maintenant pour vous inscrire à notre site et pouvoir ainsi participer aux évènements!
          Dépéchez-vous! L'inscription au site est gratuite!
     </p>
    <p>
          Un doute, une question? Cliquez en bas à gauche sur le lien "Contact" pour nous adresser un petit message
          auquel nous nous efforcerons de répondre rapidement.
    </p>
    <p>

          Sur ce, après ce petit message bien sympathique, nous ne pouvons vous souhaiter qu'une bonne visite!
    </p>
    <p>
        L'équipe Websport
    </p>
</div>




