@model WUI.Models.RegisterView

@{
    ViewBag.Title = "Inscription";
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

<h2>Inscription à la course @Html.DisplayTextFor(model => model.Course.Title)</h2>

<p>@Html.DisplayTextFor(model => model.message)</p>


@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}