<footer>
    <div class="content-wrapper footer-content">
         <p>@Html.ActionLink("Contact", "Create", "Contact") | &copy; @DateTime.Now.Year - Mon application ASP.NET MVC</p>
    </div>
</footer>
