<li>@Html.ActionLink("Courses", "Index", "Race")</li>

@if (User.IsInRole("Administrateur"))
{
    
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des résultats<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Importer les résultats", "Import", "Resultat")</li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion des points<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Liste des points", "Index", "Point")</li>
            <li>@Html.ActionLink("Type de Point", "Index", "TypePoint")</li>        
        </ul>
    </li>
}
