    
    <li>@Html.ActionLink("Courses", "Index", "Race")</li>
    <li>@Html.ActionLink("Catégories", "Index", "Category")</li>

@if (Request.IsAuthenticated) {
    <li>@Html.ActionLink("Mes Inscriptions", "Index", "Participant")</li>
}
