@{
    ViewBag.Title = "Upload";
}

<h2>Importer un fichier</h2>
<p>Le fichier importé doit être de type .csv</p>

@using (Html.BeginForm("Import", "Resultat", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.TextBox("file", "", new { type = "file" })
    <br />

    <input class="btn btn-default" type="submit" value="Upload" />

    @ViewBag.Message

}