@{
    ViewBag.Title = "Upload";
}

@section css {
    @Styles.Render("~/Content/Race/css")
}

<h2>UploadFile</h2>

@using (Html.BeginForm("Import", "Resultat", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>

}

@section scripts {
    @Scripts.Render("~/bundles/Race/js")
}